.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.bp3-dark{
    background-color: #293742;
}

.page-main {
    flex-grow: 1;
    display: flex;
}

.left-column {
    flex: 1;
    /*border-right: 1px solid white;*/
}

.right-column {
    flex: 5;
    display: flex;
}